<header class="header">
  <div class="header__container container">

    <div class="header__wrap">
      <a href="">
        <picture class="header__logo">
          <source srcset="img/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo.png" class="logo" width="213" height="50" alt="logo">
        </picture>
      </a>
      <div class="header__item">
        <p class="header__link"> Ремонтируем двигатели<br>
          Hyundai и Kia с 2012 года </p>
      </div>

      <div class="header__item">
        <picture class="header__minimap mr">
          <img loading="lazy" src="img/minimap_.svg" class="minimap" width="35" height="35" alt="mini__map">
        </picture>
        <p class="header__link">
          Адрес автоцентра: Москва, <br>
          Шоссейный проезд, с4 а/2
        </p>
      </div>

      <div class="header__item map__hover" id="map__btn">
        <picture class="header__point mr">
          <img loading="lazy" src="img/minimap.svg" class="point" width="35" height="35" alt="point">
        </picture>
        <p class="header__link header__link--bb" id="fullmap">
          Смотреть на карте
        </p>

        <div class="map" id="map-test"></div>
      </div>

      <div class="header__item">
        <picture class="header__calc mr">
          <img loading="lazy" src="img/calc.svg" class="calc" width="35" height="35" alt="calc">
        </picture>
        <p class="header__link header__link--bb">
          Рассчитать стоимость<br>
          ремонта за 45 сек
        </p>
      </div>

      <div class="header__item">
        <p class="header__link">
          Задайте вопрос, <br>
          мы сейчас онлайн
        </p>
        <div class="header__social">
          <a href="">
            <picture class="whatsup__bg">
              <img loading="lazy" src="img/whatsup.svg" class="whatsup" width="35" height="35" alt="whatsup">
            </picture>
          </a> <a href="">
            <picture class="telegram__bg">
              <img loading="lazy" src="img/telegram.svg" class="telegram" width="35" height="35" alt="telegram">
            </picture>
          </a> <a href="">
            <picture class="viber__bg">
              <img loading="lazy" src="img/viber.svg" class="viber" width="35" height="35" alt="viber">
            </picture>
          </a>
        </div>
      </div>

      <div class="header__item">
        <picture class="operator__bg">
          <img loading="lazy" src="img/operator.svg" class="operator__image" width="10" height="10" alt="operator.svg">
        </picture>

        <div>
          <p class="header__link">
            Есть вопрос?<br>
            <span class="fw--800">
              Задайте его нашему <br>
              мастеру онлайн
            </span>
          </p>
          <div class="header__social">
            <a href="">
              <picture class="whatsup__bg">
                <img loading="lazy" src="img/whatsup.svg" class="whatsup" width="35" height="35" alt="whatsup">
              </picture>
            </a>
            <a href="">
              <picture class="telegram__bg">
                <img loading="lazy" src="img/telegram.svg" class="telegram" width="35" height="35" alt="telegram">
              </picture>
            </a><a href="">
              <picture class="viber__bg">
                <img loading="lazy" src="img/viber.svg" class="viber" width="35" height="35" alt="viber">
              </picture>
            </a>
          </div>
        </div>
      </div>

      <div class="header__item header__contact contact">
        <div class="contact__time">
          <img loading="lazy" src="img/green_dot.svg" class="green_dot" width="4" height="4" alt="green_dot">
          Звоните Пн-Сб 10:00 - 21:00
        </div>

        <div class="contact__number">
          +7 (925) 103 33 30
          <img loading="lazy" src="img/down.svg" class="down" width="4" height="4" alt="down">
        </div>

        <p class="header__link contact__call call" id="call">
          Заказать звонок
          <picture>
            <img loading="lazy" src="img/phone.svg" class="phone" width="6" height="6" alt="phone">
          </picture>
        </p>
      </div>

      @include('../partials/modal.html')


    </div>

    <button class="borger__btn btn-reset" id="burger">
      <picture>
        <img loading="lazy" src="img/burger.svg" class="burger--img" width="15" height="14" alt="burger">
      </picture>
    </button>

    <nav class="header__nav">
      <a href="" class="nav__link">Главная</a>
      <a href="" class="nav__link">услуги</a>
      <p class="services">Ремонт дивгателей KIA <br>
        Ремонт двигателей HYundai</p>
      <a href="" class="nav__link">модели двигателей</a>
      <a href="" class="nav__link">отзывы</a>
      <a href="" class="nav__link">стоимость</a>
      <a href="" class="nav__link">примеры работ</a>
      <a href="" class="nav__link">полезные статьи</a>
      <a href="" class="nav__link">о компании</a>
      <a href="" class="nav__link">Контакты</a>
    </nav>



  </div>

</header>
