<section class="hero" id="hero">

  <div class="scroll__down">
    <p class="hint">Scroll down</p>
    <div class="line">
    </div>
    <div class="scroll_anim">
      <img loading="lazy" src="img/scroll_plug.svg" class="scroll_plug" alt="scroll_plug">
    </div>
  </div>

  <div class="hero__container container">
    <div class="content__wrapper">
      <h1 class="hero__title">
        Профессиональный ремонт
        двигателей HYUNDAI и KIA
        с гарантией 1 год за 4-7 дней
      </h1>

      <p class="hero__descr">в специализированном автосервисе полного цикла</p>
      <div class="btns">
        <button class="hero__btn btn--red">Начать расчет стоимости ремонта вашего двигателя
          <img loading="lazy" src="img/btn_arrow.svg" class="btn_arrow" width="" height="" alt="btn_arrow">
        </button>
        <button class="hero__btn btn--whatsup">
          <img loading="lazy" src="img/btn_whatsup.svg" class="btn_whatsup" width="" height="" alt="btn_whatsup">
          Узнайте стоимость по  <span class="greenmod"> WhatsApp</span> </button>
      </div>
    </div>
    <div class="hero__bottom">
      <div class="hero__bottom--item">
        <img loading="lazy" src="img/check.svg" class="hero__check" width="" height="" alt="hero__check">
        <br>
        <span> Без предоплаты.</span> <br>
        Оплата после ремонта
      </div>
      <div class="hero__bottom--item">
        <img loading="lazy" src="img/check.svg" class="hero__check" width="" height="" alt="hero__check">
        <br>
        <span> Работаем официально</span> <br> с оформлением заказ- <br> нарядов и чеков
      </div>
      <div class="hero__bottom--item">
        <img loading="lazy" src="img/check.svg" class="hero__check" width="" height="" alt="hero__check">
        <br>
        <span> Оригинальные запчасти </span>
      </div>
      <div class="hero__bottom--item">
        <img loading="lazy" src="img/check.svg" class="hero__check" width="" height="" alt="hero__check">
        <br>
        <span> Лучшие цены на рынке </span> благодаря прямым поставкам запчастей и собственному цеху механической
        обработки
      </div>
    </div>
  </div>
</section>
